<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Bluetooth
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>Select ELM327 bluetooth device:</h5>
  

  <ion-refresher *ngIf="spinner === false" (ionRefresh)="refreshBluetooth($event)">
    <ion-refresher-content refreshingText="Searching"></ion-refresher-content>
  </ion-refresher>

  <ion-segment [hidden]="spinner === false" align="center">
    <ion-spinner></ion-spinner>
    Searching
  </ion-segment>

  <ion-list>
    <ion-list-header>
      Available Devices
    </ion-list-header>
    <button (click)="reviseconnection(device)" *ngFor="let device of devices" ion-item>
      <ion-icon name="bluetooth" item-start></ion-icon>
      <h2>Name: {{device.name}}</h2>
      <p>Discrption <span [hidden]="device.address == undefined">mac</span><span [hidden]="device.uuid == undefined">uuid</span>: {{device.address}}{{device.uuid}}</p>
      <p><span [hidden]="device.class == undefined">Class</span><span [hidden]="device.rssi == undefined">Rssid</span>: {{device.class}}{{device.rssi}}</p>
    </button>
  </ion-list>
<!--
  <ion-item-group>
    <h3>Dispositivos Disponibles</h3>
    <ion-item-sliding *ngFor="let device of devices">
      <button (click)="revisarconnection(device)" ion-item>
        <h3>Nombre: {{device.name}}</h3>
        <p>Id: {{device.id}}</p>
        <p>Dirección <span [hidden]="device.address == undefined">mac</span><span [hidden]="device.uuid == undefined">uuid</span>: {{device.address}}{{device.uuid}}</p>
        <p><span [hidden]="device.class == undefined">Clase</span><span [hidden]="device.rssi == undefined">Rssi</span>: {{device.class}}{{device.rssi}}</p>
      </button>
    </ion-item-sliding>
  </ion-item-group>
-->
  <!-- 
    mostrar iconos de connection o desconnection cambiar esto despues 
      
  -->
  <h5 *ngIf="estaConectado == true"><ion-icon name="bluetooth"></ion-icon> Connected to : {{conectadoA}}</h5>
  <h5 *ngIf="estaConectado == false"><ion-icon name="bluetooth"></ion-icon> No active device</h5>
  
  <!--
  <ion-list *ngFor="let item of dataSalida">
    <ion-list-header>
      Respuestas
    </ion-list-header>
    <ion-item>message: {{item.message}}</ion-item>
    <ion-item>{{item.Modo}}, {{item.Nombre}}</ion-item>
    <ion-item>{{item.Descripcion}}, Valor: {{item.Valor}}, Unidad: {{item.Unidad}}</ion-item>
    <ion-item>{{item.Fecha}}</ion-item>
  </ion-list>
  <button ion-button (click)="limpiarmessages()" block>Limpiar messages</button>
  <button ion-button (click)="iniciarIntervalo()" block>Iniciar Intervalo</button>

  <form (ngSubmit)="enviarmessages();">
    <ion-item>
      <ion-input type="text" [(ngModel)]="message" name="message"></ion-input>
    </ion-item>
    <ion-segment>
      <button ion-button (click)="desconectar()" block>Desconectar</button>
      <button ion-button type="submit" block>Enviar</button>
    </ion-segment>
  </form>
-->
  <div [hidden]="devices.length > 0 || spinner == true" text-center>
    <p>No device found, Please make sure your device is in range and discoverable</p>
  </div>
  <!-- cambiar esto despues
  <button ion-button (click)="siguiente()" block *ngIf="estaConectado == true">Siguiente</button>
  -->
  <button ion-button (click)="start()" block>Start</button>
</ion-content>
