<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Bluetooth
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>Select bluetooth device:</h5>
  

  <ion-refresher *ngIf="spinner === false" (ionRefresh)="refreshBluetooth($event)">
    <ion-refresher-content refreshingText="Searching"></ion-refresher-content>
  </ion-refresher>

  <ion-segment [hidden]="spinner === false" align="center">
    <ion-spinner></ion-spinner>
    Searching
  </ion-segment>

  <ion-list>
    <ion-list-header>
      Available Devices
    </ion-list-header>
    <button (click)="reviseconnection(device)" *ngFor="let device of devices" ion-item>
      <ion-icon name="bluetooth" item-start></ion-icon>
      <h2>Name: {{device.name}}</h2>
      <p>Discrption <span [hidden]="device.address == undefined">mac</span><span [hidden]="device.uuid == undefined">uuid</span>: {{device.address}}{{device.uuid}}</p>
      <p><span [hidden]="device.class == undefined">Class</span><span [hidden]="device.rssi == undefined">Rssid</span>: {{device.class}}{{device.rssi}}</p>
    </button>
  </ion-list>
<!--
  <ion-item-group>
    <h3>Dispositivos Disponibles</h3>
    <ion-item-sliding *ngFor="let device of devices">
      <button (click)="revisarconnection(device)" ion-item>
        <h3>Nombre: {{device.name}}</h3>
        <p>Id: {{device.id}}</p>
        <p>Dirección <span [hidden]="device.address == undefined">mac</span><span [hidden]="device.uuid == undefined">uuid</span>: {{device.address}}{{device.uuid}}</p>
        <p><span [hidden]="device.class == undefined">Clase</span><span [hidden]="device.rssi == undefined">Rssi</span>: {{device.class}}{{device.rssi}}</p>
      </button>
    </ion-item-sliding>
  </ion-item-group>
-->
  <!-- 
    mostrar iconos de connection o desconnection cambiar esto despues 
      
  -->
  <h5 *ngIf="estaConectado == true"><ion-icon name="bluetooth"></ion-icon> Connected to : {{conectadoA}}</h5>
  <h5 *ngIf="estaConectado == false"><ion-icon name="bluetooth"></ion-icon> No device conected</h5>
  
  
  <!-- <ion-list *ngFor="let item of dataSalida">
    <ion-list-header>
      Respuestas
    </ion-list-header>
    <ion-item>message: {{item.Message}}</ion-item>
    <ion-item>{{item.Mode}}, {{item.Name}}</ion-item>
    <ion-item>{{item.Description}}, Valor: {{item.Value}}, Unidad: {{item.Unit}}</ion-item>
    <ion-item>{{item.Date}}</ion-item>
  </ion-list> -->
  <!-- <button ion-button (click)="limpiarmessages()" block>Limpiar messages</button>
  <button ion-button (click)="iniciarIntervalo()" block>Iniciar Intervalo</button> -->
  <!-- <radial-gauge
    width="300" height="300" units="Km/H" title="Velocidad" min-value="0" max-value="260"
    major-ticks="[0,20,40,60,80,100,120,140,160,180,200,220,240,260]" minor-ticks="2" stroke-ticks="true"
    highlights='[ {"from": 0, "to": 50, "color": "rgba(255, 255, 186, 1)"}, {"from": 50, "to": 120, "color": "rgba(255, 223, 186, 1)"}, {"from": 120, "to": 260, "color": "rgba(255, 179, 186, 1)"}]'
    color-plate="#fff" border-shadow-width="0" borders="false" border-radius="10" needle-type="arrow"
    needle-width="2" needle-circle-size="7" needle-circle-outer="true" needle-circle-inner="false" animation-duration="1500"
    animation-rule="linear" [attr.value]="velocidadActual" >
  </radial-gauge> -->
  <!-- <form (ngSubmit)="enviarmessages();">
    <ion-item>
      <ion-input type="text" [(ngModel)]="message" name="message"></ion-input>
    </ion-item>
    <ion-segment>
      <button ion-button (click)="desconectar()" block>Desconectar</button>
      <button ion-button type="submit" block>Enviar</button>
    </ion-segment>
  </form> -->

  <div [hidden]="devices.length > 0 || spinner == true" text-center>
    <p>No device found, Please make sure your device is in range and discoverable</p>
  </div>
  <!-- cambiar esto despues
  <button ion-button (click)="siguiente()" block *ngIf="estaConectado == true">Siguiente</button>
  -->
  <button ion-button (click)="initiateIntervals()" block>Get rpm only</button>
</ion-content>
